@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');


/*
    logo green - #93C44d
    main green - #6e9933

overflow-y: scroll;

*/

/*******************
** Blazor Stuff
*/
html {
    background-color: black;
    min-width: 320px;
}
body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: white;
    background-color: transparent;
    min-width: 320px;
    overflow-y: scroll;
}

app {
    /*   position: relative; */
    display: flex;
    flex-direction: column;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    color: black;
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}




/*******************
** Active Backdrop
*/

canvas {
    width: 100%;
    height: 100%;
}

.backdrop {
    text-align: center;
    vertical-align: middle;
    background-color: black;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    z-index: -1;
}




/*******************
** App Stuff
*/

.full-width {
    width: 100%;
}

.devBorder {
    border: solid 1px red;
}

.logo {
    background-image: url(/images/logo.png);
    background-position: bottom left;
    background-repeat: no-repeat;
    position: absolute;
    left: 10px;
    right: 0px;
    top: 0px;
    height: 190px;
}

.menus {
    position: absolute;
    background: rgba(255, 255, 255, 0.10);
    color: white;
    left: 0px;
    right: 0px;
    top: 55px;
    height: 50px;
    border-bottom: solid 1px green;
    z-index: 100;
}

a.nav-link, a.nav-link:visited, a.nav-link:active {
    color: white; /* #93C44d; */
}
a.nav-link:focus, a.nav-link:hover {
    color: #93C44d;/* #93C44d; yellow; */
}

a.nav-link.active {
    color: #93C44d;/* #93C44d; yellow; */
}

.main-content {
    color: white;
    margin-top: 200px;
    z-index: 10;
}

/* Extra small devices, less than 576px */
.LargeMenus {
    display: none;
    visibility: hidden;
}

.SmallMenus {
    display: block;
    visibility: visible;
}



/* Small devices, 576px and up */
@media (min-width: 576px) {
    .LargeMenus {
        display: none;
        visibility: hidden;
    }

    .SmallMenus {
        display: block;
        visibility: visible;
    }
}

/* Medium devices, 768px and up */
@media (min-width: 768px) {
    .LargeMenus {
        display: block;
        visibility: visible;
    }

    .SmallMenus {
        display: none;
        visibility: hidden;
    }
}

/* Large devices, 992px and up */
@media (min-width: 992px) {
    .LargeMenus {
        display: block;
        visibility: visible;
    }

    .SmallMenus {
        display: none;
        visibility: hidden;
    }
}

/* Extra large devices, 1200px and up */
@media (min-width: 1200px) {
    .LargeMenus {
        display: block;
        visibility: visible;
    }

    .SmallMenus {
        display: none;
        visibility: hidden;
    }
}

.menuDropDown {
    background-color: #1a1a1a;
    color: white;
    /* background-color: white; */
    /* background-color: antiquewhite; */
    /* background-color: rgb(191, 191, 191); */
    /* background: rgba(255, 255, 255, 0.10); */
}


.card-color {
    border: solid 1px green;
    border-radius: 5px;
    background-color: antiquewhite;
    color: black;
}

.card-color > .card-title {
    background-color: #6e9933;
    color: black;
    padding: 3px;
}

.fancy-fades {
    -o-transition: color .2s ease-out, background .2s ease-in;
    -ms-transition: color .2s ease-out, background .2s ease-in;
    -moz-transition: color .2s ease-out, background .2s ease-in;
    -webkit-transition: color .2s ease-out, background .2s ease-in;
    /* ...and now for the proper property */
    transition: color .2s ease-out, background .2s ease-in;
}

.fancy-list-item {
    width: 100%;
    margin: 5px;
    padding: 2px;
    border: solid 1px silver;
    border-radius: 4px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: #6e9933;
    box-shadow: 2px 3px 4px green;
}

.fancy-list-item:hover {
    background-color: yellow;
}

.input-group-text {
    min-width:  70px;
}

.bump-bottom {
    padding-bottom: 10px;
}

.bump-top {
    padding-top: 10px;
}

.range-red-gradient {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;

    background-image: -webkit-linear-gradient( to right, rgba(0,0,0,0.50), rgba(255,0,0,0.50) ) !important;
    background-image:    -moz-linear-gradient( to right, rgba(0,0,0,0.50), rgba(255,0,0,0.50) ) !important;
    background-image:     -ms-linear-gradient( to right, rgba(0,0,0,0.50), rgba(255,0,0,0.50) ) !important;
    background-image:      -o-linear-gradient( to right, rgba(0,0,0,0.50), rgba(255,0,0,0.50) ) !important;
    background-image:         linear-gradient( to right, rgba(0,0,0,0.50), rgba(255,0,0,0.50) ) !important;

    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
.range-red-gradient::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #ddd;
    border: 1px solid #757575;
    border-radius: 50%;
    cursor: pointer;
}

.range-red-gradient::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #ddd;
    border: 1px solid #757575;
    border-radius: 50%;
    cursor: pointer;
}


.range-green-gradient {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;

    background-image: -webkit-linear-gradient( to right, rgba(0,0,0,0.50), rgba(0,255,0,0.50) ) !important;
    background-image:    -moz-linear-gradient( to right, rgba(0,0,0,0.50), rgba(0,255,0,0.50) ) !important;
    background-image:     -ms-linear-gradient( to right, rgba(0,0,0,0.50), rgba(0,255,0,0.50) ) !important;
    background-image:      -o-linear-gradient( to right, rgba(0,0,0,0.50), rgba(0,255,0,0.50) ) !important;
    background-image:         linear-gradient( to right, rgba(0,0,0,0.50), rgba(0,255,0,0.50) ) !important;

    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
.range-green-gradient::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #ddd;
    border: 1px solid #757575;
    border-radius: 50%;
    cursor: pointer;
}

.range-green-gradient::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #ddd;
    border: 1px solid #757575;
    border-radius: 50%;
    cursor: pointer;
}

.range-blue-gradient {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;

    background-image: -webkit-linear-gradient( to right, rgba(0,0,0,0), rgba(0,0,255,0.50) ) !important;
    background-image:    -moz-linear-gradient( to right, rgba(0,0,0,0), rgba(0,0,255,0.50) ) !important;
    background-image:     -ms-linear-gradient( to right, rgba(0,0,0,0), rgba(0,0,255,0.50) ) !important;
    background-image:      -o-linear-gradient( to right, rgba(0,0,0,0), rgba(0,0,255,0.50) ) !important;
    background-image:         linear-gradient( to right, rgba(0,0,0,0), rgba(0,0,255,0.50) ) !important;

    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
.range-blue-gradient::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #ddd;
    border: 1px solid #757575;
    border-radius: 50%;
    cursor: pointer;
}

.range-blue-gradient::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #ddd;
    border: 1px solid #757575;
    border-radius: 50%;
    cursor: pointer;
}

.range-alpha-gradient {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    background-image: -webkit-linear-gradient( to right, rgba(0,255,0,0), rgba(0, 255,0,1) ) !important;
    background-image:    -moz-linear-gradient( to right, rgba(0,255,0,0), rgba(0, 255,0,1) ) !important;
    background-image:     -ms-linear-gradient( to right, rgba(0,255,0,0), rgba(0, 255,0,1) ) !important;
    background-image:      -o-linear-gradient( to right, rgba(0,255,0,0), rgba(0, 255,0,1) ) !important;
    background-image:         linear-gradient( to right, rgba(0,255,0,0), rgba(0, 255,0,1) ) !important;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
.range-alpha-gradient::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #ddd;
    border: 1px solid #757575;
    border-radius: 50%;
    cursor: pointer;
}

.range-alpha-gradient::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #ddd;
    border: 1px solid #757575;
    border-radius: 50%;
    cursor: pointer;
}

.color-box {
    width: 100%;
    height: 100%;
    min-height: 75px;
    border: solid 1px white;
}


.list-group-item-flowing {
    background-color: #D2C6B4;
    border: 0px;
}





/* Extra small devices, less than 576px */
.color-range-alignments {
    margin-top: 35px;
    margin-bottom: 10px;
}

/*
/ * Small devices, 576px and up * /
@media (min-width: 576px) {
    .color-range-alignments {
        margin-top: 15px;
    }
}

/ * Medium devices, 768px and up * /
@media (min-width: 768px) {
    .color-range-alignments {
        margin-top: 15px;
    }
}

/ * Large devices, 992px and up * /
@media (min-width: 992px) {
    .color-range-alignments {
        margin-top: 15px;
    }
}

/ * Extra large devices, 1200px and up * /
@media (min-width: 1200px) {
    .color-range-alignments {
        margin-top: 15px;
    }
}
*/