@typeparam TemplateType

<div class="full-width">
    @foreach (TemplateType item in Items)
    {
        <div class="text-truncate fancy-list-item fancy-fades" @onclick="@(p => optionClicked(item) )">
            @Option(item)
        </div>
    }
</div>


@code {
    [Parameter]
    public IReadOnlyList<TemplateType> Items { get; set; }

    [Parameter]
    public RenderFragment<TemplateType> Option { get; set; }

    [Parameter]
    public EventCallback<TemplateType> onOptionClicked { get; set; }
    //public EventCallback<string> onOptionClicked { get; set; }




    protected async Task optionClicked(TemplateType item) {
        await onOptionClicked.InvokeAsync(item);
    }
}
